@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}

/* relevant styles */
h1 {
    color: rgb(13, 19, 33);
    font-size: 35.56px;
    font-weight: 800;
    line-height: 75.56px;
}

p {
    color: rgb(13, 19, 33);
    font-size: 17.78px;
    font-weight: 400;
    line-height: 28.89px;
    opacity: 0.7;
}

a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}


/* Banner section style */
.banner-section {
    background-image: url("assets/hero-bg.png");
    display: flex;
    justify-content: center; 
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.banner-image img {
    margin-top: 28.89px;
    width: 266.97px;
    height: 266.66px;
    margin-bottom: 35.56px;
}

.banner-text {
    width: 1108px;
    height: 344.44px;
    margin-bottom: 48.89px;
}

.banner-text h1 {
    margin-bottom: 24px;   
}

.banner-text p {
    margin-bottom: 35.56px;
}

.banner-btn {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-decoration: none;
}

/* WebDev section styles */

.webdev-section {
    width: 1266.65px;
    height: 1350px;
    padding: 88.89px 107.78px;
    margin: 0 auto;
}

.webdev-header {
    margin-bottom: 53.33px;
}

.webdev-header h1 {
    text-align: center;
    margin-bottom: 26.67px; 
}

.webdev-header p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.webdev-card {
    display: flex;
    justify-content: space-around;
    padding: 53.33px;
    margin-bottom: 26px;
}

.card-text {
    width: 529.62px;
    height: 155.55px;

}

.card-text h1 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 18px;
}

.card-text p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 35.56px;
}

.card-image {
    width: 288.4px;
    height: 241.12px;
}

.webdev-btn {
    border: 2px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 13.33px 22.22px;
}

.card-reverse {
    display: flex;
    flex-direction: row-reverse;
}

/* Inspo section styles */
.inspo-section {
    width: 1266.65px;
    height: 864px;
    margin: 0 auto;
}

.inspo-text {
    width: 948px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 53.33px;
}

.iframe-container {
    box-sizing: border-box;
    border: 2px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 32px;  
}

iframe {
    border-radius: 16px;
}

/* Current Target section styles */
.current-target-section {
    width: 1266.65px;
    margin: 150px auto;
}

.current-target-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 948px;
    height: 125.56px;
    margin: 0 auto;
    margin-bottom: 53.33px;
}

.target-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.current-target-card {
    border-radius: 16px;
    width: 404.44px;
    height: 332.22px;
    padding: 40px;
}

.html {
    background: rgba(255, 76, 30, 0.05);
}

.css {
    background: rgba(0, 76, 232, 0.05);
}

.js {
    background: rgba(255, 223, 0, 0.05);
}

.current-target-card img {
    margin-bottom: 24px;
}

.current-target-card p {
    margin: 14px 0px;
}


/* Next target styles */
.next-target-section {
    width: 1266.65px;
    height: 962.22px;
    margin: 0 auto;
}

.ntarget-text {
    text-align: center;
    margin-bottom: 40px;
}

.next-target-card {
    padding: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 20px;

}

.ntarget-card-text p,
.ntarget-card-text a {
    padding-bottom: 20px;
}


/* Support section styles */
.support-section {
    width: 1266.65px;
    height: 348.89px;
    border-radius: 16px;
    background-image: linear-gradient(0deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('assets/handshake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 120px;
    padding: 65px;
}

.support-section h1, .support-section p {
    color: rgb(255, 255, 255);  
    text-align: center;
}

.support-text {
    width: 811.11px;
    margin: 0 auto;
}

.support-section input {
    width: 548px;
    height: 57px;
    padding: 19px 20px;
    box-sizing: border-box;
    border: 2px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin-left: 200px;
    margin-right: 20px;
}

.support-btn {
    border-radius: 8px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 20px;
}

.support-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 60px;
}

/* Footer styles */

footer {
    display: flex;
    justify-content: space-between;
    padding: 35.56px 166.67px;
}

footer h1 {
    color: rgb(13, 19, 33);
    font-size: 22.22px;
    font-weight: 600;
    line-height: 23px;
}

footer img {
    margin-left: 25px;
}